/* Main Content */
#main-content {
    margin: 0 auto;
    padding: 0px;
    min-height: calc(100vh - 80px);
    box-sizing: border-box;
}

#target {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
}

.item-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 11px;
    min-width: calc(33% - 44px);
    padding: 4px;
    flex-grow: 1;
    box-sizing: border-box;
    
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.bgImage {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    
    background-size: cover;
    background-position: right center;
    
    filter: blur(5px);
    opacity: 0.5;
    transition: opacity 0.3s, filter 0.3s;
}

.item-container:hover {
    transform: scale(1.01);
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.item-container:hover .bgImage {
    background-size: contain; 
    filter: blur(2.5px);
    opacity: 0.25;
}

body.dark-mode .item-container {
    background-color: rgba(0, 0, 0, 0.1);
}

body.dark-mode .item-container:hover {
    background-color: rgba(0, 0, 0, 1.0);
}

.appleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 30px;
    height: 30px;
    flex-grow: 1;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent; 
    font-size: 20px;
    color: #ff5722;    
    border: 1.5px solid #ff5722;
    
    transition: background-color 0.3s, color 0.3s;
}

.appleButton:hover {
    background-color: #ff5722;
    color: white;
}

.appleButton:active {
    transform: scale(0.95);
}
