/* Main Content */
#main-content {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    min-height: calc(100vh - 110px);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.dark-mode #main-content {
    background-color: rgba(0, 0, 0, 0.25);
}

#main-content h2 {
    color: #4caf50;
    text-align: center;
    margin-bottom: 20px;
}

body.dark-mode #main-content h2 {
    color: #4caf50;
}

#main-content h3 {
    color: #2196f3;
    margin: 30px 0 10px;
}

body.dark-mode #main-content h3 {
    color: #2196f3;
}

#main-content p {
    color: #333;
    line-height: 1.6;
}

body.dark-mode #main-content p {
    color: #ccc;
}

#main-content ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

body.dark-mode #main-content ul {
    list-style-type: circle;
}

#main-content ul li {
    margin-bottom: 10px;
}

body.dark-mode #main-content ul li {
    color: #ccc;
}

/* General styles */
.header-content .sub-title {
    color: #2196f3;
    margin-bottom: 15px;
    font-size: 3.5em;
    overflow: hidden;
    box-sizing: border-box;
}

body.dark-mode .header-content .sub-title {
    color: #2196f3;
}
