html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    background-image: linear-gradient(45deg, #4caf50, #2196f3);
    margin: 0;
}

body.dark-mode {
    color: #fff;
    background-color: #333;
    background-image: linear-gradient(45deg, #28732b, #155a93);
}

/* Header and Footer */
.sticky-header,
.sticky-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    z-index: 1000;
}

.sticky-header {
    top: 0;
}

.sticky-footer {
    bottom: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}

body.dark-mode .sticky-header,
body.dark-mode .sticky-footer {
    background-color: rgba(0, 0, 0, 0.88);
}

.sticky-header .header-left {
    display: flex;
    align-items: left;
}

.sticky-header .header-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.sticky-header .header-center h1 {
    font-size: 2.5rem;
    text-align: center;
    background: linear-gradient(135deg, #ff6b6b, #f06595, #d5a6f5, #6a4c93);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    margin: 0;
}

.sticky-header .header-center h1::before {
    display: block;
    background: linear-gradient(135deg, #ff6b6b, #f06595, #d5a6f5, #6a4c93);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.sticky-header .header-center h1 .first-name {
    font-weight: 700;
    margin-right: 10px;
}

.sticky-header .header-center h1 .last-name {
    font-weight: 300;
}

.sticky-header .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sticky-footer #currentTime {
    margin: 0;
}

/* FooterNav */
.footer-nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-button {
    color: #fff;
    background-color: #555;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.footer-button:hover {
    background-color: #777;
}

.footer-button i {
    margin-right: 5px;
}

/* Responsive styles */
@media (max-width: 600px) {
    .footer-button span {
        display: none;
    }

    .footer-button i {
        margin-right: 0;
    }
}

/* Theme Toggle Button */
.theme-toggle-btn {
    padding: 0;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgba(0, 123, 255, 0.8);
}

body.dark-mode .theme-toggle-btn {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Navigation Container */
.main-nav {
    display: flex;
    gap: 10px;
}

/* Navigation Links */
.main-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 40%;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-nav a:hover {
    background-color: #2196f3;
    color: #fff;
}

.main-nav a.current {
    color: #aaa;
    background-color: #333;
    cursor: default;
    pointer-events: none;
}

/* Icon Font Awesome Styling */
.font35 {
    font-size: 35px;
}

.font25 {
    font-size: 25px;
}
